In [1]:
import pandas as pd

C:\Users\parandi\AppData\Local\Temp\1\ipykernel_15724\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Definir tabelas

In [2]:
#carregar os dados do LEGACY - no [legacy_address] colocar o endereço da tabela legado

legacy_address = r'vehicle_registration.csv'

legacy = pd.read_csv(legacy_address, sep=';')

In [3]:
legacy.head()

,Record Type,VIN,Registration Class,City,State,Zip,County,Model Year,Make,Body Type,Fuel Type,Unladen Weight,Maximum Gross Weight,Passengers,Reg Valid Date,Reg Expiration Date,Color,Scofflaw Indicator,Suspension Indicator,Revocation Indicator
0,VEH,9BWDE61J254006577,PAS,BALDWIN,NY,11510,NASSAU,2005.0,VOLKS,2DSD,GAS,2805.0,NaN,NaN,2016-12-20T00:00:00,2019-02-17T00:00:00,GY,N,N,N
1,VEH,9BWDE61J254003887,PAS,OLEAN,NY,14760,CATTARAUGUS,2005.0,VOLKS,2DSD,GAS,2805.0,NaN,NaN,2018-03-05T00:00:00,2020-03-18T00:00:00,BL,N,N,N
2,VEH,9BWDE61J254003873,PAS,WEST HENRIETTA,NY,14586,MONROE,2005.0,VOLKS,2DSD,GAS,2934.0,NaN,NaN,2017-10-05T00:00:00,2019-10-04T00:00:00,BK,N,N,N
3,VEH,9BWDE61J244031154,PAS,BREWSTER,NY,10509,PUTNAM,2004.0,VOLKS,2DSD,GAS,2805.0,NaN,NaN,2017-07-07T00:00:00,2019-06-17T00:00:00,BL,N,Y,N
4,VEH,9BWDE61J244029825,PAS,SELDEN,NY,11784,SUFFOLK,2004.0,VOLKS,2DSD,GAS,2805.0,NaN,NaN,2017-11-15T00:00:00,2019-11-22T00:00:00,BK,N,N,N

In [3]:
#carregar os dados do SnowFlake - no [snowflake_address] colocar o endereço da tabela legado

snowflake_address = r'registration_snowflake.csv'

snowflake = pd.read_csv(legacy_address, sep = ';')

### Teste de comparação das tabelas

In [4]:
class TableComparator:
    def __init__(self, legacy, snowflake):
        self.legacy = legacy
        self.snowflake = snowflake

# modulo para teste de valores nulos nas tabelas
        
    def null_columns(self):
        resultado_legado = []
        colunas_nulas_legado = []
        for coluna in self.legacy.columns:
            resultado_legado = self.legacy[coluna].isna().sum()
            if resultado_legado > 0:
                colunas_nulas_legado.append(coluna)

        resultado_snowflake = []
        colunas_nulas_snowflake = []
        for coluna in self.snowflake.columns:
            resultado_snowflake = self.snowflake[coluna].isna().sum()
            if resultado_snowflake > 0:
                colunas_nulas_snowflake.append(coluna)

        
        print('Colunas com valores nulos no Legado:', colunas_nulas_legado)
        print('Colunas com valores nulos no Snowflake:', colunas_nulas_snowflake)

#teste de verificação se as tabelas possuem colunas com os mesmos nomes
        
    def columns_name(self):
        legacy_columns_name = []
        snowflake_columns_name = []

        legacy_columns_name = self.legacy.columns
        snowflake_columns_name = self.snowflake.columns

        print('legado:', legacy_columns_name)
        print('snowflake:', snowflake_columns_name)

     
#teste de comparação para verificar quantas linhas estão diferentes ou iguais entre as tabelas

    def compare(self):
        merge_df = pd.merge(self.legacy, self.snowflake, how='outer', indicator=True).rename(columns={'_merge': "difference"})
        result = merge_df.groupby(merge_df['difference']).count()
        print(result)

#criação de arquivos CSV com os resultado dos teste de comparação
        
    def result_compare(self):
        merge_df = pd.merge(self.legacy, self.snowflake, how='outer', indicator=True).rename(columns={'_merge': "difference"})
        result = merge_df.groupby(merge_df['difference']).count()
        print(result)  
       #criação dos arquivos:
        resultado_iguais = []
        resultados_somente_legado = []
        resultados_somente_snowflake = []
        resultado_iguais = merge_df[merge_df['difference'] == 'both']
        resultados_somente_legado = merge_df[merge_df['difference'] == 'left_only']
        resultados_somente_snowflake = merge_df[merge_df['difference'] == 'right_only']
        resultado_iguais.to_csv('resutados_iguais.csv', sep = ';', index=False)
        resultados_somente_legado.to_csv('resultados_somente_legado.csv', sep = ';', index=False)
        resultados_somente_snowflake.to_csv('resultados_somente_snowflake', sep = ';', index=False)

In [5]:
test = TableComparator(legacy,snowflake)

In [6]:
test.compare()

C:\Users\parandi\AppData\Local\Temp\1\ipykernel_15724\2379983976.py:44: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = merge_df.groupby(merge_df['difference']).count()

            Record Type       VIN  Registration Class      City     State  \
difference
left_only             0         0                   0         0         0
right_only            0         0                   0         0         0
both           11203920  11203920            11203920  11203920  11203920

                 Zip    County  Model Year      Make  Body Type  Fuel Type  \
difference
left_only          0         0           0         0          0          0
right_only         0         0           0         0          0          0
both        11203920  11203920    11203900  11203920   11203920   11203920

            Unladen Weight  Maximum Gross Weight  Passengers  Reg Valid Date  \
difference
left_only                0                     0           0               0
right_only               0                     0           0               0
both               9143991               1388975      324890        11203920

            Reg Expiration Date     Color  Scofflaw Indicator  \
difference
left_only                     0         0                   0
right_only                    0         0                   0
both                   11030639  11203920            11203920

            Suspension Indicator  Revocation Indicator
difference
left_only                      0                     0
right_only                     0                     0
both                    11203920              11203920

In [7]:
test.null_columns()

Colunas com valores nulos no Legado: ['Model Year', 'Unladen Weight', 'Maximum Gross Weight', 'Passengers', 'Reg Expiration Date']
Colunas com valores nulos no Snowflake: ['Model Year', 'Unladen Weight', 'Maximum Gross Weight', 'Passengers', 'Reg Expiration Date']

In [9]:
test.columns_name()

legado: Index(['Record Type', 'VIN', 'Registration Class', 'City', 'State', 'Zip',
       'County', 'Model Year', 'Make', 'Body Type', 'Fuel Type',
       'Unladen Weight', 'Maximum Gross Weight', 'Passengers',
       'Reg Valid Date', 'Reg Expiration Date', 'Color', 'Scofflaw Indicator',
       'Suspension Indicator', 'Revocation Indicator'],
      dtype='object')
snowflake: Index(['Record Type', 'VIN', 'Registration Class', 'City', 'State', 'Zip',
       'County', 'Model Year', 'Make', 'Body Type', 'Fuel Type',
       'Unladen Weight', 'Maximum Gross Weight', 'Passengers',
       'Reg Valid Date', 'Reg Expiration Date', 'Color', 'Scofflaw Indicator',
       'Suspension Indicator', 'Revocation Indicator'],
      dtype='object')